.footer{
    background: #ededed;
    color: #6a6a6a;
    height: 100%;
    width: 100%;
}


.footer-shroot {
    color: #6a6a6a;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer-shroot:hover{
    color: black;
}
.icon-footer {
    transition: all 0.3s ease;

    cursor: pointer;
}
.icon-footer:hover{
    color: black;
}
