@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Poppins:wght@300;500&family=Rubik:wght@600;700&display=swap');

.sidbar{
    width: 100%;
    border: 1px solid #f5f5f5;
    padding: 10px;
    text-align: center;
}
.sidbar .sidbarHead{
    color: #67ad5c;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.sidbar input{
    cursor: pointer;
}
.filter-sub{
    margin-left: 10px;
    color: #272727;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.filter-sub:hover{
    color: #67ad5c;
}
.priceInput{
    width: 100%;
    border: #f5f5f5 2px solid;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}
.priceInput:focus {
    outline: none;
    border: #67ad5c 2px solid;
}