.sub-title{
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Poppins', sans-serif !important;
    font-family: 'Rubik', sans-serif !important;
    font-weight: bold;
    font-size: 30px;
    color: #383838;
}
.sub-title-flitter{
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Poppins', sans-serif !important;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 400;
    font-size: 20px;
    color: #383838;
}

.shopping-now{
    background-color: #67ad5c;
    border: none;
    color: #fff;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopping-now:hover{
    background-color: #fff;
    color: #67ad5c;
    border: 1px solid #67ad5c;
}