.page-body{
    height: fit-content;
    background-color: #ffffff;
}
.product-gallary-card {
    height: 470px !important;
    width: 370px;
    border-radius: 29px;
    background-color: #ffffff;
  }
  
  .cat-text {
    color: #8E8E8E;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 23px;
    text-align: left;
  }
  
  .cat-title {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
  }
  
  .cat-rate {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
  }
  
  .barnd-text {
    color: #555550;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .color {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .product-description {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
  }
  .product-price {
    height: 46px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 9px;
    color: #729B79;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
  }
  
  .product-cart-add {
    cursor: pointer;
    text-align: center;
    height: 45px;
    border-radius: 9px;
    border: none;
    background-color: #729B79;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: normal;
    transition: all 0.3s ease-in;
  }
  .product-cart-add:hover {
    background-color: #ffffff !important;
    border: #729B79 1px solid;
    color: #729B79;
  }