body{
    overflow: hidden;
}
.row .welcome-title{
    color: #324162;
    text-align: center;
}
.row label{
    color: #324162;
}

.text-link{
    color: #0BBEF2;
}
.user-input {
    box-sizing: border-box;
    height: 37px;
    width: 375px;
    border: none;
    border-bottom: 2px solid #0bbcf28c;
    border-radius: 4px;
    padding:15px;
}
.user-input:focus{
    outline: none;
}
  .title-login {
    color: #555550;
    font-family: Almarai;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
  }
  .btn-login {
    height: 46px;
    width: 374px;
    border-radius: 9px;
    border: none;
    color: white;
    background-color: rgb(33 37 41);
  }
  .btn-login:hover {
    color: rgb(206, 204, 204);
  }