
.row .welcome-title{
  background: linear-gradient(to left, rgba(114, 155, 121, 1), rgba(71, 91, 99, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    text-align: center;
}

.row label{
    color: #272727;
}

.text-link{
    color: #729B79;
}
.user-input {
    box-sizing: border-box;
    height: 37px;
    width: 375px;
    border: none;
    border-bottom: 2px solid #729B79;
    border-radius: 4px;
    padding:15px;
    background-color: transparent;
}
.user-input:focus{
    outline: none;
}
  .title-login {
    color: #555550;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
  }
  .btn-login {
    height: 46px;
    width: 374px;
    border-radius: 9px;
    border: none;
    color: #ffffffff;
    background-color: #729B79;
  }
  .btn-login:hover {
    color: #ffffff;
  }