
.row .welcome-title{
  background: linear-gradient(to left, rgba(114, 155, 121, 1), rgba(71, 91, 99, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    text-align: center;
}
.container-style{
  height: auto;
}
.row label{
    color: #272727;
}

.text-link{
    color: #67ad5c;
}
.sign-body{
  background-color: #67ad5c17;
  width: 500px;
  margin: 0 auto !important;
  border-radius: 15px;
  height: 100%;
}
.user-input {
    box-sizing: border-box;
    height: 37px;
    width: 375px;
    border: none;
    border-bottom: 2px solid #67ad5c;
    border-radius: 4px;
    padding:15px;
    background-color: transparent;
}
.user-input:focus{
    outline: none;
}
  .title-login {
    color: #67ad5c;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
  }
  .title-Account{
    color: #67ad5c;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
  }

  .btn-login {
    height: 46px;
    width: 374px;
    border-radius: 9px;
    border: none;
    color: #ffffffff;
    background-color: #67ad5c;
  }
  .btn-login:hover {
    color: #ffffff;
  }

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-center{
      height: auto;
    display: grid;
    place-items: center;
  }