.rate-container {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 12px;
    border-radius: 7px;
    background-color: #ffffff;
}
.rate-count {
    color: #979797;
    font-family: 'Montserrat';
    
    font-size: 12px;
    letter-spacing: 0;
    line-height: 23px;
}
.rate-name {
    color: #000;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}
.text-area{
    background-color: transparent !important;
    border: none!important;

}
.text-area:focus{
    border: 1px solid #67ad5c !important;
    outline: none;
}
.rate-description {
    color: #000;
    font-family: 'Montserrat';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
}

.product-cart-add{
    padding: 12px 10px 12px 10px;
}

/* rate item */
.review-item{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.icons-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rate-icon{
    color: #67ad5c;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.rate-icon:hover{
    opacity: 50%;
}
