/* sideBar */
.side-text{
    color: #729B79;
    transition: 0.3s ease;
    font-family: 'Montserrat', sans-serif ;
}
.side-text:hover{
    background-color: #729B79;
    color: #fff;
}
/* All Admin product Card */
.title{
    font-size: 16px;
    font-weight: bold;
    color: #000;

}
.star{
    width: 15px;
}
.price{
    color: #729B79;
    font-size: 16px;
    font-weight: 500;
}
.currency{
    color: #729B79;
    font-size: 16px;
    font-weight: 500;
}
.delete , .edit{
    font-size: 16px;
    color: #729B79;
}

/* All orders Page */
.cart-body{
    background-color: #fff;
    border-radius: 15px;

}
.rate{
    color: #f0cc00;
    width: 100%;
    
}
/* add brand page */
.page-body{
    height: 71vh;
    background-color: #e4ebe0;
}
.btn-save {
    border: none;
    color: white;
    height: 46px;
    width: 150px;
    border-radius: 9px;
    background-color: #729B79;
    transition: 0.5s ease-in-out;
}
.btn-save:hover {
    background-color: #fff;
    color: #729B79;
}
.btn-a {
    border: none;
    color: white;
    height: 45px;
    border-radius: 9px;
    background-color: #272727;
}
.btn-a:hover {
    color: rgb(164, 164, 164);
}

/* add subcategory page */
.input-form{
    box-sizing: border-box;
    height: 37px;
    width: 375px;
    border: none;
    border-bottom: 2px solid #729B79;
    border-radius: 4px;
    padding:15px;
    background-color: transparent;
}
.input-form:focus{
    outline: none;
}
.select-input{
    width: 375px;
    height: 37px;
    border: none;
    border: 2px solid #729B79;
    border-radius: 15px;
    color: #555555;
}
.select-input:focus{
    outline: none;
}

.select-input .option:hover, .select-input .option:checked{
    background-color: #729B79;
}

/* add product page */
.input-form-desc2{
    box-sizing: border-box;
    width: 375px;
    border: 1px solid #729B79;
    border-radius: 4px;
    padding:15px;
    background-color: transparent;
}
.input-form-desc2:focus{
    outline: none;
    border: 2px solid #729B79;
}