.discount {
    height: 130px;
    border-radius: 8px;
    background: #67ad5c;
}
.discount .discount-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.dicount-img {
    max-height: 200px;
    max-width: 100%;
}
.title-wrapper{
    position: relative;
    bottom: 22%;
}